*{
	margin: 0;
	padding: 0;
}
body {
	font-family: "Times New Roman", Times, serif;
}
.form {	
	margin-top: 10px;
	margin-left: auto;
	margin-right: auto;
	width: 40%;	
	background-color: cyan;
}
h3{
	margin-top: 20px;
	text-align: center;
}
.content{
	display: grid;
	grid-template-columns: 1fr 1fr;
}
.img-quiz{
	margin-top: 20px;
	
}
.img-quiz img{
	width: 70%;
}
.datadiri-quiz{	
	margin-top: 20px;
	
}
.datadiri-quiz table{
	margin-left: 40px;
}

.quiz-soal{
	padding: 1%;
	font-size: 14px;
}
.quiz-soal input[type='radio']{
	margin-left: 20px;
	margin-top: 5px;
}
.quiz-soal label{
	font-size: 14px;

}

button{
	background-color: red;
	border: none;
	color: white;
	text-decoration: none;
	display: inline-block;
	margin-top: 20px;
	margin-left: 35%;
	margin-bottom: 10px;
	font-size: 14px;
	cursor: pointer;
	padding: 5px 30px;
	border-radius: 8px;
	
}
