
*{
    margin: 0px;
    padding: 0px;
}
h2,h6{    
    text-align: center;
}
h2{
    margin-top: 4%;
}
.form{
    padding-top: 25px;
    padding-left: 70px;
    padding-right: 70px;
    width: 50%;    
    margin: 0%auto;
}
input[type='text'],[type='number']{
    width: 50%;
}
input[type='radio']{
    padding: 10%;
}
.button{
    text-align: center;    
}

.mainpage{
    width: 50%;
    height: 100%;
    background-color:  	#F0FFFF;
    position: fixed;
}
.conten-menu{
    padding: 10%;
    text-align: center;
}
.conten-form{
    margin-top: 5%;
}
.menupage{
    width: 50%;
    height: 1000px;
    background-color:  	#F0FFFF;
    float: right;

}
.conten-menu-pilih{
    display: grid;
    grid-template-columns: auto auto;
    
}
.conten-menu-pilih-item{
    text-align: left;
    margin-top: 5%;
}
#line{
    grid-column: span 2;
}
.btn-cetak-struk{
     grid-column: span 2;
}
.conten-pesanan{
    display: grid;
    grid-template-columns: auto auto;
    margin: 0%auto;
    width: 450px;
    background-color: azure;
    
}
.conten-menu-pesanan{
    text-align: left;
    margin-top: 1%;
}
#duit{
    grid-column: span 2;
    text-align: center;
}
.ui-datepicker-trigger{
    float: left;
}
#datepick{
    border:none;
}
#submit:hover{
    background-color: purple;
}
#cek{
    background-color: purple;
}
#kembali{
    outline: purple;
    background-color: purple;
}
#cek:hover{
    background-color: darkgray;
}
