
html,body{
    margin: 0 auto;
    padding: 0;
    width: 100%;
    height: 100%;
}
.EAD{
    width: 10%;
    margin-left: 100px;
}

.banner{    
    width: 100%;
    height: 170px;
    background-color: lightskyblue;
    padding-top: 35px;
    padding-left: 15px;
}
.product{
    margin-top: 30px;
}
.nav-index{
    margin-left:900px ;
}
.card-text{
    text-align: justify;
}
.table-content{
    margin-top: 20px;
}